#img {
    width: auto;
    height: auto;
}
.nav-link {
    color: white;
    font-size: 32px;
}
.navbar-nav {
    gap: 4rem;
    align-items: center;
}
.img2 {
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 300px;
    right: 100px;
    background-color: transparent;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}